{% extends 'base.html' %}
{% block title %}
    Turmas
{% endblock %}

{% block content %}

<body>
    <h1 class="text-center h3 mb-3">Turmas</h1>
        <div>
            <h2>{{nome_disc}}</h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Código da Disciplina</th>
                        <th>Período</th>
                        <th>Professor</th>
                        <th>Horário</th>
                        <th>Vagas Ocupadas</th>
                        <th>Vagas Ofertadas</th>
                        <th>Local</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for turma in turmas %}
                    <tr>
                        <td>{{ turma.numero }}</td>
                        <td>{{ turma.fk_codDisciplina }}</td>
                        <td>{{ turma.periodo }}</td>
                        <td>{{ turma.professor }}</td>
                        <td>{{ turma.horario }}</td>
                        <td>{{ turma.vagasOcupadas }}</td>
                        <td>{{ turma.totalVagas }}</td>
                        <td>{{ turma.local }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="/classes_info/?periodo={{ turma.periodo }}&horario={{ turma.horario }}&local={{ turma.local }}&idProfessor={{ turma.fk_idProfessor }}">Avaliar</a>
                        </td>        
                        <td>
                            <a class="btn btn-sm btn-info" href="/rates/?periodo={{ turma.periodo }}&horario={{ turma.horario }}&local={{ turma.local }}&idProfessor={{ turma.fk_idProfessor }}">Ver Avaliações</a>
                        </td>        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>
{% endblock %}