{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<body>    
    <div class="container">
        <h1 class="text-center h3 mb-3">Login</h1>
        <form method="POST" class="login-form" style="color:whitesmoke">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            {{ form.matricula.label() }}
            {{ form.matricula(class="form-control", placeholder="Matrícula") }}
            
            {{ form.senha.label() }}
            {{ form.senha(class="form-control", placeholder="Senha") }}
            <br>
            <div class="checkbox mb-3 text-center">
                <h6>Não tem uma conta?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('signup') }}">Criar Conta</a>
            </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-block btn-primary text-center") }}
            </div>
        </form>
    </div>
</body>
{% endblock %}