{% extends 'base.html' %}
{% block title %}
    Signup
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1 class="text-center h3 mb-3">{{ user.nome.capitalize() }}</h1>
        <div class="form-group">
            <label for="foto"></label>
            <img src="data:image/png;base64,{{ base64_data }}" alt="Foto do usuário">
        </div>
        <div class="form-group">
            <label for="matricula">Matrícula:</label>
            <span id="matricula">{{ user.matricula }}</span>
        </div>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <span id="nome">{{ user.nome }}</span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <span id="email">{{ user.email }}</span>
        </div>
        <div class="form-group">
            <label for="curso">Curso:</label>
            <span id="curso">{{ user.curso }}</span>
        </div>
    </div>
    <h1 class="text-center h3 mb-3">Minhas Avaliações</h1>
    <div class="card container card-body">
        {% for avaliacao in avaliacoes %}
            <p>
                <strong>Comentário:</strong> {{ avaliacao.comentario }}
            </p>
            <p>
                <strong>Nota:</strong> {{ avaliacao.nota }}
            </p>
            <p>
                <strong>Dificuldade:</strong> {{ avaliacao.dificuldade }}
            </p>
            <p>
                <strong>Professor:</strong> {{ avaliacao.professor }}
            </p>
            <p>
                <strong>Disciplina:</strong> {{ avaliacao.disciplina }}
            </p>
            <p>
                <strong>Período:</strong> {{ avaliacao.fk_periodo }}
            </p>
            <a id="ignore-opt" href="/classes/rate/update/rate_id={{ avaliacao.id }}">Editar Avaliação</a>
            <a href="/delete_comment/rate_id={{ avaliacao.id }}">Excluir Avaliação</a>
            {% endfor %}
    </div>
</body>
{% endblock %}
