{% extends 'base.html' %}
{% block title %}
    Signup
{% endblock %}

{% block content %}
<body>
    <h1 class="text-center h3 mb-3">Avaliações da turma</h1>
    {% for avaliacao in avaliacoes %}
        <div class="card container card-body">
            <p>
                <strong>Comentário:</strong> {{ avaliacao.comentario }}
            </p>
            <p>
                <strong>Nota:</strong> {{ avaliacao.nota }}
            </p>
            <p>
                <strong>Dificuldade:</strong> {{ avaliacao.dificuldade }}
            </p>
            <p>
                <strong>Professor:</strong> {{ avaliacao.professor }}
            </p>
            <p>
                <strong>Disciplina:</strong> {{ avaliacao.disciplina }}
            </p>
            {% if session["privilegio"] == "COMUM" and session["logged_in"] and session["user_id"] != avaliacao.fk_matricula %}
                <button class="btn btn-primary btn-sm" onclick="toggleMotivoDenuncia({{ avaliacao.id }})">Denunciar</button>
                <br>
                <div id="form-denuncia-{{ avaliacao.id }}" style="display: none;">
                    <form action="/denounce" method="POST">
                        <textarea name="motivo" class="form-control" placeholder="Digite o motivo da denúncia"></textarea>
                        <input type="hidden" name="id" value="{{ avaliacao.id }}">
                        <input type="hidden" name="comentario" value="{{ avaliacao.comentario }}">
                        <br>
                        <button class="btn btn-danger" type="submit">Enviar Denúncia</button>
                    </form>
                </div>
            {% endif %}
        </div>
        <br>
    {% endfor %}

    <script>
        function toggleMotivoDenuncia(id) {
            var formDenuncia = document.getElementById("form-denuncia-" + id);
            formDenuncia.style.display = formDenuncia.style.display === "none" ? "block" : "none";
        }
    </script>
</body>
{% endblock %}