{% extends 'base.html' %}
{% block title %}
    Signup
{% endblock %}

{% block content %}
<body class="text-center">    
    <div class="container">
        <h1 class="h3 mb-3">Cadastro</h1>
        <form method="POST" class="signup-form" style="color:whitesmoke" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            {{ form.matricula.label() }}
            {{ form.matricula(class="form-control", placeholder="Matrícula") }}
            
            {{ form.nome.label() }}
            {{ form.nome(class="form-control", placeholder="Nome") }}
            
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email") }}
            
            {{ form.senha.label() }}
            {{ form.senha(class="form-control", placeholder="Senha") }}
            
            {{ form.senha_confirmada.label() }}
            {{ form.senha_confirmada(class="form-control", placeholder="Confirmar Senha") }}
            
            {{ form.curso.label() }}
            {{ form.curso(class="form-control",) }}
            
            {{ form.data_nascimento.label() }}
            {{ form.data_nascimento(class="form-control") }}
            
            {{ form.foto.label() }}
            {{ form.foto(class="form-control") }}
            <br>
            <div class="checkbox mb-3">
                <h6>Já tem uma conta?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login') }}">Login</a>
            </div>
            {{ form.submit(class="btn btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}